In [ ]:
# Q1:- Explain with an example each when to use a for loop and a while loop.

In [1]:
'''A "for loop" is used when we want to repeat a specific block of code a certain number of times.
For example, consider the following code which uses a for loop to print the numbers 1 to 5:'''
print("using for loop")
for i in range(1, 6):
    print(i)
'''A "while loop" is used when we want to repeat a specific block of code an unknown number of times.
The code inside the loop will be executed as long as the condition specified in the while statement is True. 
For example, consider the following code which uses a while loop to print the numbers 1 to 5:'''
print("using while loop")
i = 1
while i<=5 :
    print(i)
    i += 1

using for loop
1
2
3
4
5
using while loop
1
2
3
4
5

In [ ]:
# Q2:- Write a python program to print the sum and product of the first 10 natural numbers by using for and while loop.

In [2]:
print("by using for loop")
_sum = 0
_prod = 1
for i in range(1, 11):
    _sum += i
    _prod *= i
print(_sum, _prod)

print("by using while loop")
i = 1
_sum = 0
_prod = 1
while i<=10 :
    _sum += i
    _prod *= i
    i += 1
print(_sum, _prod)

by using for loop
55 3628800
by using while loop
55 3628800

In [3]:
# Ans-3:-
unit = int(input("enter the unit "))
bill = 0
total_bill = 0
if unit > 300:
  bill = (unit-300)*20
  total_bill += bill
  unit = 300
if unit>200:
  bill = (unit-200)*10
  total_bill += bill
  unit = 200
if unit > 100:
  bill = (unit-100)*6
  total_bill += bill
  unit = 100
if unit<=100:
  bill = unit*4.5
  total_bill += bill
print(total_bill)

enter the unit  310

2250.0

In [1]:
l1 = []
i = 1
while i<=100:
  l1.append(i)
  i += 1
print(l1)

l2 = []
for i in range(0,100):
  cub = l1[i]*l1[i]*l1[i]
  if (cub%4)==0 or (cub%5)==0:
    l2.append(l1[i])

print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [2]:
st = "I want to become a data scientist"
i = 0
_count = 0
print(len(st))
while i<len(st):
  if st[i]=="a" or st[i]=="e" or st[i]=="i" or st[i]=="o" or st[i]=="u" or st[i]=="A" or st[i]=="E" or st[i]=="I" or st[i]=="O" or st[i]=="U":
    _count += 1
  i += 1
print(_count)

33
12